---
showregisterbutton: false
showfooter: false
title: VCU Libraries Digital Engagement
header: VCU Libraries
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Retired Projects{% if title %} — {{ title }}{% endif %}</title>
{% set css %}{% include "theme.css" %}{% endset %}
{% set js %}{% include "script.js" %}{% endset %}
		<style>{{ css | cssmin | safe }}</style>
		<script>{{ js | jsmin | safe }}</script>
    <script type="text/javascript" src="//branding.vcu.edu/bar/academic/latest.js"></script>
		<meta property="og:title" content="SunSet{% if title %} — {{ title }}{% endif %}" />
	</head>
	<body{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
  <header id="primary">
  <section class="library" aria-label="library-header">
    <div class="wrapper">
      <div class="context-switcher">
	      <a href="/" title="Return Home" aria-label="Return Home">{% if header %}{{ header }}{% endif %}</a>
      </div>
  </section>
</header>
{% if skipHero -%}
{% else -%}
		<div class="sg-c">
			<div class="sg-component-full">
				{% include "components/hero.njk" %}
			</div>
		</div>
{% endif -%}

		{{ content | safe }}

{% if showfooter %}

{% endif %}
	</body>
</html>