@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700|Roboto:400,400i,500,500i,700');

header#primary section.library,header#secondary section.library,header#responsive section.library {
  height: 53px;
  background: #437C90;
  padding: 8px 0;
  box-sizing: border-box;
}

header#primary .wrapper {
  overflow: visible;
  position: relative;
  width: 100%;
  max-width: 1185px;
  height: 100%;
  margin: 0 auto;
}

header#primary a {
  color: #fefefe;
  text-decoration: none;
  font-family: "Roboto Slab",serif;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1;
}

/* Global */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
footer {
	text-align: center;
}

/* Code */
code {
	font-family: Consolas, Monaco, monospace;
	font-size: 0.875em; /* 14px /16 */
	font-weight: 700;
}

/* Screen readers only */
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

:link {
	color: #222;
}
:visited {
	color: #2b332d;
}

dl {
	margin: 1em 0;
	font-size: 1.25em; /* 20px /16 */
}
dt {
	font-weight: 700;
	text-transform: uppercase;
}
dd {
	margin: 0 0 1em;
	max-width: 45em;
}
dd :first-child {
	margin-top: 0;
}