@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700|Roboto:400,400i,500,500i,700');

header#primary section.library,header#secondary section.library,header#responsive section.library {
  height: 53px;
  background: #437C90;
  padding: 8px 0;
  box-sizing: border-box;
  margin-bottom: 40px;
}

header#primary .wrapper {
  overflow: visible;
  position: relative;
  width: 100%;
  max-width: 1185px;
  height: 100%;
  margin: 0 auto;
}

header#primary a {
  color: #fefefe;
  text-decoration: none;
  font-family: "Roboto Slab",serif;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1;
}

/* Global */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
  padding: 0;
  background: #3ACCCC;
  height: 100%;
}
html {
  height: 100vh;
}
footer {
	text-align: center;
}

p {
  letter-spacing: .0175em;
  line-height: 1.45;
}

/* Code */
code {
	font-family: Consolas, Monaco, monospace;
	font-size: 0.875em; /* 14px /16 */
	font-weight: 700;
}

/* Screen readers only */
.sr-only {
	position: absolute;
	height: 1px;
	width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

:link {
	color: #222;
}
:visited {
	color: #2b332d;
}

dl {
	margin: 1em 0;
	font-size: 1.25em; /* 20px /16 */
}
dt {
	font-weight: 700;
	text-transform: uppercase;
}
dd {
	margin: 0 0 1em;
	max-width: 45em;
}
dd :first-child {
	margin-top: 0;
}

.inner-wrap {
  width: 90%;
  max-width: 1185px;
  margin: 0 auto;
}

// sun // 
/**
 * Main styles that define the elements of the scene.
 */

 .sky,
 .hill-background,
 .hill-foreground {
   transition: background-color 0.5s ease-out;
 }
 
 .sun {
   width: 200px;
   height: 200px;
   margin: auto;
   position: absolute;
   bottom: 0;
   left: 15vw;
   border-radius: 50%;
   box-shadow: 0 0 200px rgba(255,255,255, 0.8);
 }

 @media (max-width: 1180px) {
  .sun, .hills-wrapper {
    display: none;
  }
 }
 
 .hills-wrapper {
   position: relative;
 }
 
 .hill-background,
 .hill-foreground {
   position: fixed;
   width: 100%;
   bottom: 0;
 }
 
 .hill-background {
   height: 20%;
   border-radius: 175% 0 0 0;
 }
 
 .hill-foreground {
   height: 12%;
   border-radius: 0 280% 0 0;
 }
 
 /**
  * Day color pallet.
  */
 
 .sun {
   background-color: #ffdc00;
 }
 
 .sky {
   background-color: #39cccc;
 }
 
 .hill-background {
   background-color: #2BC03C;
 }
 
 .hill-foreground {
   background-color: #2ecc40;
 }
 
 /**
  * Night color pallet.
  */
 
 .sky.night {
   background-color: #001f3f;
 }
 
 .hill-background.night {
   background-color: #0A300F;
 }
 
 .hill-foreground.night {
   background-color: #0D3D13;
 }